{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 9</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
            outline: none;
        }

        .container{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 15%;
            padding-left: 15%;
            padding-right: 15%;
        }

        h1{
            background: linear-gradient(101.16deg, 41.76%, rgba(18, 20, 22, 0) 124.23%);
            text-align: center;
        }
        
        p{
            text-align: center;
            color: #8a8a8a;
        }

        .btn{
            background: linear-gradient(158.82deg, #353A40 6.91%, #121416 92.9%);
            box-shadow: 0px -4.76059px 22.2161px -7.93431px rgba(232, 237, 243, 0.05), 0px 14.2818px 25.3898px 4.76059px rgba(2, 3, 3, 0.7), inset 0px -6.34745px 31.7372px -2.38029px rgba(248, 249, 249, 0.03);
            border-radius: 5px;    
            color: #8a8a8a;
            outline: none;
            display: block;
            margin: auto;
        }

        .btn:hover{
            color: #ffffff;
            box-shadow: 0px -4.76059px 40px -1px rgba(232, 237, 243, 0.05), 0px 14.2818px 25.3898px 4.76059px rgba(2, 3, 3, 0.7), inset 0px -6.34745px 31.7372px -2.38029px rgba(248, 249, 249, 0.03);
            outline: none;
        }

        img{
            margin-top: 30%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }

    </style>

</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row-sm">
                <h1>Hello, <span style="color: ##8a8a8a;" >{{request.user}}</span>!</h1> <br>
            </div>
            <div class="row-sm">
                <p>Welcome to my website, happy to see you here!</p>
            </div>
            <div class="row-sm">
                <a href="/signout/" class="btn"> Log Out </a>
            </div>
        </div>
    </div>
</body>
</html>
