h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}


body {
	background-color: #000;
}


	
	video {
		max-height: 100vh;
		max-width: 100vw;
		width: 100%;
	}
